@charset "utf-8";

/*폰트-에스코어드림*/
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*black_han_sans
font-family: 'Black Han Sans', sans-serif;*/


/*폰트-나눔고딕
font-family: 'NanumGothicLight';
font-family: 'NanumGothic';
font-family: 'NanumGothicBold';*/

*{margin: 0; padding: 0;}
ol,ul{list-style: none; }
a{text-decoration: none; color: inherit;}

body{font-family:  'S-CoreDream-9Black';
     font-weight: normal;
     font-size: 14px;
     color: white;
    background-color: #06aec7; }

    
.clearfix::after{
        content: "";
        display: block;
        clear: both;
    }
    

/*header*/
#header{background-color: black;}
.header_inner{margin: 0 auto;
             width: 1366px;
            
             display: flex;
             justify-content: space-between;
             height: 130px;
             align-items: center;}
              
.header_inner ul{display: flex;
                 justify-content: flex-start;
                 } 
.header_inner ul li{font-size: 16px;
                    padding-right: 100px;}
.header_inner ul li:hover a{color:black;
                          border-radius: 10px;
                          background: linear-gradient(to right, #06aec7, #9505b3);
                          padding: 5px;}
                         


 /*mb*/
 #mb{background-image: url(images/main_bg.png);
     background-position: center top;
     background-repeat: no-repeat;
background-size: 100%;}


#mb_video video{width: 100%;
                display: block;
                padding-top: 150px;}

/*loop_img*/
#loop_img{background-image: url(images/cinema4d.png);
           background-attachment: fixed;
           background-position: center center;
           background-repeat: no-repeat;
           background-size: 100%;
           height: 500px;
          }

 /*let's_make*/
 #lets_make{padding-top: 30px;}
 #lets_make ul{display: flex;
                justify-content: center;}
 #lets_make ul .align{padding-top: 34px;
                     margin: 0 20px;
                     }
#lets_make ul .reflect{transform: rotate(180deg);}
#lets_make p{text-align: center;
    padding-top: 20px;} 
 #lets_make h1{font-family: 'Black Han Sans';
              font-size: 23px;
              font-weight: 700px
              ;
              color: #2415db;
              text-align: center;
              padding-top: 40px;}
 #lets_make h5{font-family: 'NanumGothicLight' ;
              color: black;
              font-size: 15px;
              text-align: center;
              line-height: 160%;
              padding-top: 50px;
              margin-bottom: 30px;}    
    
    
    
 /*artwork*/
 #artwork{background-image: url(images/artwork_bg.png);
          background-repeat: no-repeat;
          background-size: 100%;
          height: 1106px;
       
   }

#artwork_inner{width: 1200px;
                margin: 0 auto;
             } 
  
 #phone{margin-top: 50px;
         position: relative;
         float: left;}
 #phone .album_intro{position: absolute;
                     left: 50%;
                     top: 50%;
                    transform: translate(-50%, -50%
                    );
                    }
.border{
    border:1px solid white;
}

           
               
 .wrap{
    text-align: center;
   float: left;
   position: relative;
    background: none
    ;
    width: 481px;
    height: 516px;
    margin-left: 200px;
    margin-top: 200px;
 }  

 #artwork_wrap{
    width: 481px;
    height: 516px;
  
   }



.artwork_t{position: absolute;
         top: 50%;
         left: 50%;
         margin-left: -116px;
         margin-top: -16px;}



 #artwork_wrap p{width: 15%;} 
                  
               
                 
               
                  
                  
#artwork_wrap p img{width: 100%;
            vertical-align: middle;}

             /*top position*/
        
#artwork_wrap .img1{
            position: absolute;
            top: -5%;
            left: 3.5%;
        
        transform: rotate(-36deg)
           }

 #artwork_wrap .img2{
            
            position: absolute;
            top: -13%;
            left: 22%;
    
        transform: rotate(-18deg)
        ;
        
           }
#artwork_wrap .img3{
            position: absolute;
            top: -16%;
            left: 50%;
        transform: translateX(-50%);}           
#artwork_wrap .img4{
            position: absolute;
            top: -13%;
            right: 22%;
      
        transform: rotate(18deg)}
#artwork_wrap .img5{
            position: absolute;
            top: -5%;
            right: 3.5%;
       ;
        transform: rotate(36deg)}
        
/*bottom position*/

#artwork_wrap .img6{
            position: absolute;
            bottom: -5%;
            right: 3.5%;
            transform: rotate(-36deg);
  
           }

#artwork_wrap .img7{
            
            position: absolute;
            bottom: -13%;
            right: 22%;
                
            transform: rotate(-18deg)
        ;
      
        
        
           }
#artwork_wrap .img8{
            position: absolute;
            bottom: -16%;
            right: 50%;
           
     transform: translateX(50%);}           

         
#artwork_wrap .img9{
            position: absolute;
            bottom: -13%;
            left: 22%;
            transform: rotate(18deg)
      }

#artwork_wrap .img10{
            position: absolute;
            bottom: -5%;
            left: 3.5%;
            transform: rotate(35deg);
      
   }


/*left position*/       
#artwork_wrap .img11{
            position: absolute;
            top: 9%;
            left: -12.5%;
            transform: rotate(-53deg)
           }

#artwork_wrap .img12{
            
            position: absolute;
            top: 25%;
            left: -22%;
            transform: rotate(-74deg);

        
           }
#artwork_wrap .img13{
            position: absolute;
            top: 50%;
            left: -24%;
            transform: translateY(-50%);
       
        }           
 #artwork_wrap .img14{
            position: absolute;
            top: 61%;
            left: -21%;
            transform: rotate(74deg);
       
      
       }
#artwork_wrap .img15{
            position: absolute;
            top: 78%;
            left: -11.5%;
            transform: rotate(51deg)
     }
        
/*right position*/

#artwork_wrap .img16{
            position: absolute;
            top: 9%;
            right: -12.5%;
            transform: rotate(51deg)
           }

#artwork_wrap .img17{
            
            position: absolute;
            top: 25%;
            right: -22%;
            transform: rotate(72deg);

        
           }
 #artwork_wrap .img18{
            position: absolute;
            top: 50%;
            right: -24%;
            transform: translateY(-50%);
       
        }           
 #artwork_wrap .img19{
            position: absolute;
            top: 61%;
            right: -21%;
            transform: rotate(-72deg);
       
      
       }
#artwork_wrap .img20{
            position: absolute;
            top: 78%;
            right: -11.5%;
            transform: rotate(-53deg)
     }

/*find_your_songs*/
#find_your_songs{text-align: center;
                background-image: url(images/green_neon.png);
                background-repeat: no-repeat;
                background-position: center 40%;
                height: 1164px;
                position: relative;
                padding-top: 100px;} 
#find_your_songs .text1{padding-bottom: 20px;} 
#find_your_songs .text2{padding-bottom: 40px;}
#find_your_songs h3{color: #ea6b0e;
                   padding-bottom: 40px;
                   font-family:'Black Han Sans' ;
                   font-size: 23px;}

#find_your_songs h5{font-family: 'NanumGothicLight';
                    font-size: 14px;
                    line-height: 160%;
                   color: black;}
#find_your_songs_inner{width: 1374px;
                       margin: 0 auto;
                       background-image: url(images/purple_circle.png);
                       background-repeat: no-repeat;
                       background-position: center 40%;
                       height: 800px;
                    
                  
                      position: relative;}

                   

 #find_your_songs_inner .mesh_object{position: absolute;
                                     top: 50%;
                                    left: 50%;
                                     transform: translate(-50%, -65%
                                     );}
                                  
    
 #find_your_songs_inner .R_B{position: absolute;
                             right: 24%;
                             bottom: 94%;
                            }
 #find_your_songs_inner .ROCK{position: absolute;
                            top: 56%;
                            left: 20%;}
 #find_your_songs_inner .ALTERNATIVE{position: absolute;
                                    top: 84%;
                                    left: 32%;}
 #find_your_songs_inner .HIPHOP{position: absolute;
                                top: 12%;
                                left: 26%;}
 #find_your_songs_inner .K-POP{position: absolute;
                              right: 17%;
                              bottom: 50%;}
 #find_your_songs_inner .ELECTRONIC{position: absolute;
                                   right: 26%;
                                   bottom: 6%;
                               }
 .left_l{position: absolute;
         top: 0;
         left: 0;
        
         }                                  
.right_l{position: absolute;
        right: 0;
        bottom: 0;}

 /*VIDEO_IP*/
 #video_ip{background-color: #9505b3 ;
          text-align: center;}
          
#video_ip h1{padding: 50px 0;}

/*connect*/
#connect{padding-bottom: 50px;}
#connect_inner{width: 1374px;
               margin: 0 auto;
            text-align: center;
             padding-top: 50px;}
#connect_inner ul{display: flex;
                   justify-content: center;
                   padding-top: 130px;}
                   


                     
.connect_inner_l{position: relative;}
.connect_inner_a{position: absolute;
                 top: 27%;
                left: 20%;
              }

 .connect_inner_r{position: relative;}
 
           

/*order*/
#order{position: absolute;
       top: 50%;
    left: 10%;}
#order .send{appearance: none;
            border: none;
            background: url(images/send.png);
            width: 47px;
            height: 44px;
            cursor:pointer;
            background-repeat: no-repeat;
}
           
           
              
#order p{
        padding-left: 37px;
         text-align: left;}   
table th{text-align: left;}
table .right{text-align: right;}
table .margin td{padding-bottom: 85px;}
table .margin th{padding-bottom: 85px;}

table input{border: none;
             outline-style: none;
           }
table #placeholder_height{height: 30px;}
#placeholder_height::placeholder{color:#9cf967; font-family: 'Black Han Sans'}

/*footer*/
#footer{background-color: black;
       }
#footer #footer_inner{width: 1366px;
             
              margin: 0 auto;
           height: 300px;
          padding-top: 100px;
   
          box-sizing: border-box;}  
              
                  
#footer ul{display: flex;
           justify-content: center;
           }
#footer ul li:nth-child(2){margin: 0 10px;
              }

 #footer h1{text-align: center;
           }
 #footer h5{background-color: black;
             text-align: center;
             font-family: 'NanumGothicLight' ;
           }                                        

/*animation*/
@keyframes rotate{from{transform: rotate(0deg);}
          to{transform: rotate(360deg);}}
          
          
          
.circle{animation: rotate 35s linear infinite
normal;}    

            



 



            

 



                   
 
 